<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="height: 100vh;background-color: #18191A;">
	<div class="d-flex justify-content-center">
		<h1 style="color:#fff">Facebook wall tracking</h1>
	</div>
	<div class="d-flex justify-content-center">
		<div class="col-6" style="color:#fff">
			<zero-md src="/markdown/help.md">
				<template>
					<!-- Load external stylesheets with a `<link rel="stylesheet">` tag -->
					<style>
						.markdown-body {
						  color: #fff;
						}
					  </style>
				</template>

			</zero-md>
		</div>
		<div class="col-6">
			<form method="POST" action="/input"
				style="border:1px solid #ced4da;background-color: #242526;border-radius: 5px;" class="p-2">
				<div class="form-group">
					<textarea name="value" class="w-100 p-1"
						style="min-height: 600px;outline: none!important;border-radius: 5px;"
						placeholder="Paste here..."></textarea>

				</div>
				<div class="w-100 d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">Submit</button>

				</div>
			</form>
		</div>

	</div>

</body>

</html>